/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  font-family: Microsoft YaHei;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: #e7ebf3;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  /*color: #7e8c8d;*/
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.por {
  position: relative;
}

.poa {
  position: absolute;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin-top: -3px;
}

/* 重写element样式 */
.el_content{
  background: #ffffff;
  padding: 20px;
  border: 1px solid #d2dae9;
}
.el_long {
  width: 100%;
}

.el_add_group .el_group_input {
  width: calc(100% - 85px);
}

.review_tools, .el_tools {
  overflow: hidden;
  min-height: 1px;
}

.el_tools{
  margin: 10px 0;
}

.review_tools .el_name,
.el_tools .el_name {
  width: 20%;
  text-align: right;
  line-height: 40px;
  font-size: 14px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

.review_tools .el_tool,
.el_tools .el_tool{
  width: 80%;
  float: left;
}
